.character-detail {
    padding-top: 40px;

    &__form {
        border: 1px solid #d3d3d3;
        border-radius: 4px;
        margin: 0 auto;
        padding: 24px;
        width: 80%;
    }

    &__form-elements {
        display: grid;
        grid-template-columns: auto auto;
        gap: 12px;
    }
}